html {
  box-sizing: border-box;
}

body {
  margin: 0px;
  height: 100vh;
  font-family: "Poppins", sans-serif;
}

h1 {
  font-weight: 500;
  font-style: normal;
  font-size: 80px;
  text-align: center;
  margin-top: 10%;
}

section {
  width: 100%;
  display: flex;
  justify-content: center;
}

i {
  padding: 10px;
}

footer {
  position: fixed;
  bottom: 30px;
  width: 100%;
  text-align: center;
}
